section.footer.flex
  .footer-center
    h1.main-font.follow FOLLOW US ON SOCIAL MEDIA
    .flex.social-networks-list
      a(href=""): img(src="/assets/img/Instagram-v051916.png").social-media-icon
      a(href="https://www.facebook.com/dea.gioielli.1"): img(src="/assets/img/FB-f-Logo__blue_100.png").social-media-icon
    
      
    
  
    
      
