section.footer.flex
  .socialnetworks.flex.red
    .sn_li.main-font: h4 Follow us on:
    .sn_li: a(href=""): img.instagram(src="/assets/img/Instagram-v051916.png")  
    .sn_li: a(href=""): img.facebook(src="/assets/img/FB-f-Logo__blue_29.png")
    
      
      
