section.main-header
  h1.logo Dea Logo
  ul.navbar
    li.nav-item.main-font: a(href="") HOME
    li.nav-item.main-font: a(href="") AZIENDA     
    li.nav-item.main-font: a(href="") PARLANO DI NOI      
    li.nav-item.main-font: a(href="") GALLERIA   
    li.nav-item.main-font: a(href="") SHOP     
    li.nav-item.main-font: a(href="") CONTATTI
  img.collapsed-navbar-button(src="/assets/img/menu-toggle.svg")
    
      
      
  
    
