section.main-header
  ul.navbar
    li.nav-item 
      a(href="") Home
    li.nav-item 
      a(href="") Azienda
    li.nav-item
      a(href="") Parlano di noi
    li.nav-item 
      a(href="") Galleria
    li.nav-item 
      a(href="") Shop
    li.nav-item  
      a(href="") Contatti
  
    
