section.main-header
  ul.navbar
    li.nav-item Home                   
    li.nav-item azienda
    li.nav-item parlano di noi 
    li.nav-item galleria
    li.nav-item shop 
    li.nav-item contatti 
  
    
