section.dea-section-1
  .flex-spaced.img-container
    
section.gallery
    .flex-spaced.img-container-gallery
      .col-1
        p.discover.main-font LEARN MORE ABOUT US. . .
      .col-1
         button.discover-btn.main-font Learn more
    
section.split
    .flex-spaced.line1
      .col-1
      
        
section.press-stamp
  h1.main-font PUBLICATIONS
  h2.main-font Check our publications in some of the best italian and world fashion magazines
  h3.main-font: a(href="") See all our publications
  .flex-spaced.stamp-list-container
    .publication-item: img.publication(src="/assets/img/image 1.jpeg")
    .publication-item: img.publication(src="/assets/img/image vogue9.jpg")
    .publication-item: img.publication(src="/assets/img/imagine vogue7.jpg")
    
    
      
