

section.dea-section-1
  .flex-spaced.img-container
    
section.gallery
    .flex-spaced.img-container-gallery
      .col-1
        p.discover.main-font-title LEARN MORE ABOUT US. . .
      .col-1
         button.discover-btn.main-font Learn more
    
section.split
    .flex-spaced-reverse.line1.line
      .col-1
        p.discover.main-font Discover our
        p.discover.main-font-title Retrò
        p.discover.main-font line
      .col-1
         button.discover-btn.main-font Discover
    .flex-spaced.line2.line
      .col-1
        p.discover.main-font Discover our
        p.discover.main-font-title Nature
        p.discover.main-font line
      .col-1
         button.discover-btn.main-font Discover   
    .flex-spaced-reverse.line3.line
      .col-1
        p.discover.main-font Discover our
        p.discover.main-font-title Happy
        p.discover.main-font line
      .col-1
         button.discover-btn.main-font Discover
      
      
      
        
section.publications-main
  h1.main-font-title PUBLICATIONS
  h2.main-font Check our publications in some of the best italian and world fashion magazines
  h3.main-font: a(href="") See all our publications
  .flex-spaced.stamp-list-container
    .publication-item: img.publication(src="/assets/img/image 1.jpeg")
    .publication-item: img.publication(src="/assets/img/image vogue9.jpg")
    .publication-item: img.publication(src="/assets/img/imagine vogue7.jpg")
    
    
      
