section.dea-section-1
  .flex-spaced.img-container
    
section.gallery
    .flex-spaced.img-container-gallery.flex-2
      .col-1
        p.discover.main-font LEARN MORE ABOUT US. . .
      .col-1
         button.discover-btn.main-font Learn more
    
section.split
    .flex-2.container
      .flex.line1
        .col-1
      
      .flex.line2
        .col-1
      
