.footer
  height: 150px
  background-color: black
  border-top: 1px solid #d3d3d3
  justify-content: flex-end
  align-items: center
  min-width: 100%


.socialnetworks
  list-style: none
  align-self: center
  margin-right: 50px


.instagram
  height: 29px
  width: 29px

.facebook
  height: 29px
  width: 29px

.sn_li
  display: inline
  margin: 0 10px 0 10px
  text-align: center

.red
  background-color: red
