html body
  margin: 0
  padding: 0

.main-header
  background:
    color: black
  display: flex
  justify-content: space-between
  min-width: 100%
  margin: 0
  opacity: 1
  margin: 0
  padding: 0
  height: 80px
  align-items: center
  box-shadow: 0px 2px 20px  rgba(0,0,0,0.75)
  height: 100px
  //if top fixed
  //position: fixed
  //top: 0

.nav-item
  display: inline
  margin-left: 10px
  margin-right: 10px
  font-family: 'Roboto', sans-serif

.nav-item:last-child
  margin-right: 20px

.nav-item a
  color: white
  text-decoration: none


.navbar
  list-style-type: none

.logo
  +hide-text
  min-height: 100px
  max-width: 150px
  background:
    image: url(/assets/img/images/logo.png)
    size: contain
    repeat: no-repeat
  margin: 0
.collapsed-navbar-button
  display: none
  max-height: 60px
  margin-right: 20px







//responsive queries
@media(max-width:768px)
  .navbar
    display: none
  .collapsed-navbar-button
    display: block
