html body {
  margin: 0;
  padding: 0; }

.main-header {
  background-color: black;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-width: 100%;
  margin: 0;
  opacity: 1;
  margin: 0;
  padding: 0;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.75);
  height: 50px;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #c4c4c4;
  font-size: 0.8em; }

.nav-item {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1em; }

.main-font {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 100; }

.main-font-title {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 300; }

.main-font-inv {
  font-family: 'Lato', sans-serif;
  color: black; }

.nav-item:last-child {
  margin-right: 20px; }

.nav-item a {
  color: white;
  text-decoration: none; }

.navbar {
  list-style-type: none; }

.logo {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  min-height: 50px;
  max-width: 150px;
  background-image: url(/assets/img/images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0; }

.collapsed-navbar-button {
  display: none;
  max-height: 40px;
  margin-right: 20px; }

@media (max-width: 768px) {
  .navbar {
    display: none; }
  .collapsed-navbar-button {
    display: block; } }

.container {
  height: 500px; }

.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.flex-spaced {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center; }

.flex-spaced-reverse {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }

.col-1 {
  max-width: 300px;
  margin: 0 30px 0 30px; }

.col-1 p {
  margin-top: 0;
  margin-bottom: 10px; }

.flex-2 {
  display: -ms-flexbox;
  display: flex; }

.img-container {
  height: 850px;
  margin-top: 50px;
  background-image: url(/assets/img/images/background_home.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }

.img-container-v2 {
  margin-top: 50px;
  width: 100%; }

.home-img {
  width: 100%; }

.img-container-gallery {
  height: 600px;
  background-image: url(/assets/img/images/back.png); }

.discover {
  font-size: 2.8em;
  text-align: center; }

.discover-btn {
  height: auto;
  width: auto;
  background: none;
  border: 2px solid #d3d3d3;
  font-size: 1em;
  font-weight: bold;
  padding: 20px 30px 20px 30px; }

.discover-btn:hover {
  background-color: #d3d3d3;
  color: black;
  border-color: black; }

.discover-btn:focus {
  outline: 0; }

.line {
  width: 100%;
  height: 600px;
  margin: 0; }

.line1 {
  background-image: url(/assets/img/WDF_1591365.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }

.line2 {
  background-image: url(/assets/img/1920x1080-WDF_1591361.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }

.line3 {
  background-image: url(/assets/img/47842576-nature-images-hd.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }

.publications-main {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 60px;
  min-height: 500px; }
  .publications-main h1 {
    text-align: center;
    font-size: 2.7em;
    margin: 0; }
  .publications-main h2 {
    font-size: 1.4em;
    text-align: center;
    margin-top: 5px; }
  .publications-main h3 {
    text-align: center;
    font-size: 1em;
    margin-top: 5px; }
    .publications-main h3 a {
      text-decoration: underline;
      color: white; }

.stamp-list-container {
  margin-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.publication-item {
  height: 400px;
  min-width: 350px;
  margin: 0;
  padding-top: 30px; }

.publication {
  display: block;
  margin: auto;
  height: 400px;
  max-width: 300px; }

@media (max-width: 660px) {
  .col-1 {
    padding-top: 20px;
    max-width: 100%; }
  .flex-2 {
    display: block; }
  .img-container-gallery {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column; }
  .line {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column; } }

.footer {
  height: 200px;
  background-color: black;
  border-top: 1px solid #d3d3d3;
  min-width: 100%;
  -ms-flex-pack: center;
      justify-content: center; }

.footer-center {
  display: inline-block;
  margin-top: 0px; }

.follow {
  margin-top: 0;
  text-align: center; }

.social-networks-list {
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px;
  -ms-flex-align: center;
      align-items: center; }

.social-media-icon {
  margin: 0;
  max-height: 50px;
  max-width: 50px; }
